<!-- control = name & we don't need  registerForm.controls as control is instance of type formFormControl  -->
<input
  [formControl]="control"
  [type]="type"
  class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
  [placeholder]="placeholder"
  [mask]="format"
  [dropSpecialCharacters]="false"
/>

<!-- error messages -->
<ng-container *ngIf="control.touched && control.dirty">
  <p *ngIf="control.errors?.required" class="text-red-400">
    This field is required
  </p>

  <p *ngIf="control.errors?.minlength" class="text-red-400">
    This field length is :
    {{ control.errors?.minlength.actualLength }} & it must be at least
    {{ control.errors?.minlength.requiredLength }}
  </p>
  <p class="text-red-400" *ngIf="control.errors?.email">
    you must enter valid email
  </p>
  <p class="text-red-400" *ngIf="control.errors?.min">you aren't allowed</p>
  <p class="text-red-400" *ngIf="control.errors?.max">you aren't allowed</p>
  <p class="text-red-400" *ngIf="control.errors?.pattern">
    Invalid password it must start with capital letter and length from 8-9
    characters
  </p>
</ng-container>

<!-- <p
  *ngIf="control.touched && control.dirty && control.errors?.required"
  class="text-red-400"
>
  This field is required
</p>
<p
  *ngIf="control.touched && control.dirty && control.errors?.minlength"
  class="text-red-400"
>
  This field length is :
  {{ control.errors?.minlength.actualLength }} & it must be at least
  {{ control.errors?.minlength.requiredLength }}
</p> -->
